<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pretentious</title>
    <!--[if IE]
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet/less" href="/static/fonts.less">
    <link rel="stylesheet/less" href="/static/products.less">
    <link rel="stylesheet/less" href="/static/signup.less">
    <!--<link rel="stylesheet/less" href="/static/lib/bootstrap.less">-->
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% block head_include %}{% endblock %}
    <script type="text/javascript" src="/static/js/less.js"></script>
    <script type="text/javascript" src="/static/js/parser.js"></script>
    <script type="text/javascript" src="/static/js/interface.js"></script>
</head>
<body>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block container %}
        {% endblock %}
    </div>
</body>
</html>
