<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pretentious</title>
    <!--[if IE]
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet/less" href="/static/products.less">
    <link rel="stylesheet/less" href="/static/lib/bootstrap.less">
    <script src="/static/less.js">
</head>
<body>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
</body>
</html>
