{% extends "base.html" %} 
{% block container %}
    <div class="customers_pane" style="display: block;">
        <ul class="customers">
            {% for customer in customers %}
                <li class="customer">
                    <span class="username">{{ customer.user.username }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="confirmation_pane">
        <h1>Thank you for your order</h1>
    </div>
    <div class="amount_pane">
        {% for i in range10 %}
            <div class="grid_box box{{ i }}">
                <div class="label">{{ i }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="input_bar">
        <input type="text" class="orderbar" spellcheck="false" autocomplete="false" value="">
    </div>
    <div class="products_pane">
        <div class="products">
        {% for product in display_products %}
            <div class="grid_box box{{ forloop.counter }}" productslug="{{ product.slug }}">
                <div class="label">{{ forloop.counter }}</div>
                <div class="txtcont">
                    <div class="product">
                        <span class="name">{{ product.name }}</span>
                        <span class="price">{{ product.price|floatformat:2 }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="grid_box box0">
                <div class="label">0</div>
            </div>
        </div>
    </div>
{% endblock %}
