{% extends "base.html" %} 
{% block container %}
    <div class="input_bar">
        
    </div>
    <div class="products_pane">
        {% for product in display_products %}
            <div class="grid_box box{{ forloop.counter }}">
                <div class="box_label">{{ forloop.counter }}</div>
                <div class="box_txtcont">
                    <h1>{{ product.name }}</h1>
                    <h2>{{ product.price }}</h2>
                    <h3>{{ product.description }}</h3>
                </div>
            </div>
        {% endfor %}
            <div class="grid_box box0">
                <div class="box_label">0</div>
            </div>
    </div>
    <div class="customers_pane">
        <ul>
            {% for customer in customers %}
                <li>{{ customer.user.username }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
