/** Main selector **/

//Colors
@bkgr:#333;
@txt1:#333;
@txt1-hov:#eec;
@box:#c40;

//Dimensions
@boxsize:200px;

/* General Elements */

::selection {
    background: transparent;
}

ol, ul {
    list-style:none;
    
    li {
        font-weight:300;
    }
}

input {
    font-size: 12px;
}

body {
    margin:0;
    padding:0;    
    color:white;
    background:@bkgr;
    font-family:DINPro;
}

/* Grid */

.grid_box {
    position:fixed;
    left:50%;
    top:50%;
    margin:(-@boxsize/2) 0 0 (-@boxsize/2);
    
    width:@boxsize;
    height:@boxsize;
    overflow:none;
    
    background: @box;
    color:@txt1;
    font-size:14px;
    font-weight:600;
    border-radius:3px;
    
    &:hover {
        background: #D40;
        color:@txt1-hov;
    }
    &:active {
        background: @txt1-hov;
        color:@box;
    }
    
    .label {
        font-size:18px;
        position:absolute;
        top:6px;
        left:7px;
    }

    .txtcont {
        margin:10px
    }
}

.nineBox (@item:0) {
    margin-top:((-1.5*@boxsize - 10)+(floor(@item / 3))*(@boxsize + 10));
    margin-left:((-1.5 * @boxsize - 10) + (3 * ((@item / 3) - floor(@item / 3)))*(@boxsize + 10))
}

.box1 {.nineBox(0)}
.box2 {.nineBox(1)}
.box3 {.nineBox(2)}
.box4 {.nineBox(3)}
.box5 {.nineBox(4)}
.box6 {.nineBox(5)}
.box7 {.nineBox(6)}
.box8 {.nineBox(7)}
.box9 {.nineBox(8)}

.box0 {
    margin-top:((-1.5 * @boxsize - 10) + 2 * (@boxsize + 10));
    margin-left:(-2 * @boxsize - 20);
    width:@boxsize/2;
    background-color:#555;
    
    &:hover {
        color:@txt1;
        background-color:#666;
    }
    &:active {
        color:#555;
        background-color:#BBB;
    }
}

/** Text input **/

.input_bar {
    input {
        font-family:inherit;
        outline: none;
    }

    .orderbar {
        width:100%;
        height:24px;
        margin:0;

        background:black;
        color:rgba(255,255,255,0.6);
        border:none;
        padding: 0 10px 0 120px;
    }

    &::before {
        content:"pretentious $ ";
        position:absolute;
        top: 0px;
        left: 10px;
        font-size:inherit;
    }
}