/** Main selector **/

//Colors
@bkgr:#333;
@txt1:#333;
@txt1-hov:#eec;
@box:#c40;

//Dimensions
@boxsize:200px;

/** General Elements **/

::selection {
    background: transparent;
}

ol, ul {
    list-style:none;
    
    li {
        font-weight:300;
    }
}

input {
    font-size: 12px;
}

body {
    margin:0;
    padding:0;    
    color:white;
    background:@bkgr;
    font-family:DINPro;
}

/** Grid **/
.products_pane {
    position: absolute;
    width: 100%;
    height: 100%;
}

.products {
    position: absolute;
    left: 50%;
    top: 50%;
}

.grid_box {
    position:absolute;
    left:50%;
    top:50%;
    margin:(-@boxsize/2) 0 0 (-@boxsize/2);
    
    width:@boxsize;
    height:@boxsize;
    overflow:none;
    
    background: @box;
    color:@txt1;
    font-size:14px;
    font-weight:600;
    border-radius:3px;
    
    cursor:pointer;
    
    &:hover {
        background: #D40;
        color:@txt1-hov;
    }
    &:active {
        background: @txt1-hov;
        color:@box;
    }
    
    .label {
        font-size:18px;
        position:absolute;
        top:6px;
        left:7px;
    }

    .txtcont {
        margin: 70px 8px 8px 8px
    }
}

.product {
    .name {
        font-size:24px;
    }
    .price {
        font-size:18px;
        font-weight:400;
        margin-left:5px;
    }
}

.nineBox (@item:0) {
    margin-top:((-1.5*@boxsize - 10)+(floor(@item / 3))*(@boxsize + 10));
    margin-left:((-1.5 * @boxsize - 10) + (3 * ((@item / 3) - floor(@item / 3)))*(@boxsize + 10))
}

.box1 {.nineBox(0)}
.box2 {.nineBox(1)}
.box3 {.nineBox(2)}
.box4 {.nineBox(3)}
.box5 {.nineBox(4)}
.box6 {.nineBox(5)}
.box7 {.nineBox(6)}
.box8 {.nineBox(7)}
.box9 {.nineBox(8)}

.box0 {
    margin-top:((-1.5 * @boxsize - 10) + 2 * (@boxsize + 10));
    margin-left:(-2 * @boxsize - 20);
    width:@boxsize/2;
    background-color:#555;
    
    &:hover {
        color:@txt1;
        background-color:#666;
    }
    &:active {
        color:#555;
        background-color:#BBB;
    }
    &::after {
        content:"+";
        font-size:100px;
        font-weight:300;
        position: relative;
        left: 24px;
        bottom: -83px;
    }
}

/** Text input **/

.input_bar {
    input {
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        
        font-family:inherit;
        outline: none;
    }

    .orderbar {
        width:100%;
        height:24px;
        margin:0;

        background:rgba(0,0,0,0.8);
        color:rgba(255,255,255,0.6);
        border:none;
        padding: 0 10px 0 85px;
    }

    &::before {
        content:"pretentious $ ";
        position:absolute;
        top: 5px;
        left: 10px;
        font-size:12px;
        z-index:11
    }
}

/** Customers **/
.customers_pane {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    width: 100%;
}

.customers {
    position:absolute;
    top:100px;
    left: 20px;
    
    li {
        opacity:1;
        color:@txt1;
        display:block;
        padding:5px;
        background-color:#CCC;
        border-radius:5px;
        cursor:pointer;
    }
    li:hover {
        opacity:1;
    }
}

/* Confirmation Pane */
.confirmation_pane {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    width: 100%;
}

/* Amount Pane */
.amount_pane {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
